@import url('https://cdn.jsdelivr.net/npm/@expo-google-fonts/gfs-didot@0.2.3/index.min.js');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue Light", Arial, sans-serif;
    font-weight: 1;
    letter-spacing: 0.5px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
}
.logo{
    cursor: pointer;
    max-width: 90px;
}
.user-links{
    list-style: none;
}

.user-links li{
    display: inline-block;
    padding: 0px 20px;
    cursor: pointer;
}

.user-links li a{
    font-size: small;
    color: rgba(81, 79, 79, 0.858);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

/**FOOTER***/
.b-info-display{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}
.colecciones{
    color:rgba(43, 41, 41, 0.858);
    margin-right: 200px;
    margin-bottom: 30px;
}
.co-m, .co-h, .a-cuenta, .a-contacto{
    cursor: pointer;
    margin-bottom: 10px;
    color: #494747;
    text-decoration: none;
    font-size: 12px;
}
.ayuda{
    color:rgba(43, 41, 41, 0.858);
}
.info-title{
    color:black;
    margin-bottom: 25px;
}
.t-copyr{
    display: flex;
    justify-content: center;
    text-align: center;
}
.colecciones ul:hover, .ayuda ul:hover{
    color: rgb(158, 156, 156);
}


.user-links li a:hover{
    color: rgb(158, 156, 156);
}
/*----------------------------carrito de compras--------------------------*/

/* Estilo para el encabezado h1 */
.carrito-h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

/* Estilo para el párrafo que muestra la cantidad total de productos en el carrito */
.carrito-p {
    text-align: center;
    font-size: 18px;
}

/* Estilo para la tabla de productos */
.carrito-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para las celdas de encabezado de la tabla */
.carrito-table tr {
    border: #2c2b2b;
    background-color: pink;
    padding: 20px;
    margin-right: 40px;
    text-align: left;
}

/* Estilo para las celdas de la tabla */
.carrito-table td {
    background-color: #fefefe;
    padding: 10px;
    text-align: left;
}
body {
    text-align: center; /* Centra horizontalmente el contenido */
}
.boton-carrito{
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    border-color:rgb(250, 204, 212) ;
    border-style: solid;
    padding: 10px;
    font-size:11px;
}
.boton-carrito:hover{
    background-color: #e47676a1;
    color: white;
}

/*popups*/
.form-popup#login-popup {
    display: none;
}

.form-popup {
    display: none ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
}

.form-content form{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.form-content a, input, button, h3 {
    font-size: 13px;
     cursor: pointer;   
}

input[type="text"],
input[type="password"], input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid rgb(182, 177, 177);
    border-radius: 4px;
    outline: none;
    
}

input::placeholder {
    color: gray;
}

.form-button {
    background-color: #2c2b2b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover{
    background:black ;
}
